<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h2><strong id="pet">Pet</strong><strong>City.</strong></h2>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto gap-2">
                  <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Shop", products_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= form_with url: products_path, method: :get, class: "d-flex search-form" do %>
              <div class="NewSearch-box d-flex">
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control search-input ",
                  placeholder: "Busca tu producto"
                %>
                <%= button_tag(type: "submit", class: "btn btn-default btn-search") do %>
                  <i class="fa-solid fa-magnifying-glass"></i>
                <% end %>
              </div>
            <% end %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "https://cdn-icons-png.flaticon.com/512/1077/1077114.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Perfil", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Crear producto", new_product_path, class: "dropdown-item" %>
              <%= link_to "Cerrar Sesión", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Ingresar", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
