<section class="get-in-touch section_form">
   <h1 class="title">Editar Usuario</h1>
   <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "contact-form row" }) do |f| %>
      <%= f.error_notification %>
      <div class="form-field col-lg-12">
         <%= f.input :email, label: "Correo", required: true, autofocus: true, input_html: { class: "input-text js-input", id: "email" } %>
         <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
         <% end %>
         <%= f.input :password, label: "Nueva contraseña", hint: "leave it blank if you don't want to change it", required: false, input_html: { autocomplete: "new-password", class: "input-text js-input", id: "password" } %>
         <%= f.input :password_confirmation, label: "Confirmar contraseña", required: false, input_html: { autocomplete: "new-password", class: "input-text js-input", id: "password_confirmation" } %>
         <%= f.input :current_password, label: "Contraseña actual", hint: "we need your current password to confirm your changes", required: true, input_html: { autocomplete: "current-password", class: "input-text js-input", id: "current_password" } %>
         <%= f.input :first_name, label: "Nombre", required: true, input_html: { autocomplete: "first_name", class: "input-text js-input", id: "first_name" } %>
         <%= f.input :last_name, label: "Apellido", required: true, input_html: { autocomplete: "last_name", class: "input-text js-input", id: "last_name" } %>
         <%= f.input :phone_number, label: "Número de teléfono", required: true, input_html: { autocomplete: "phone_number", class: "input-text js-input", id: "phone_number" } %>
         <%= f.input :address, label: "Dirreción", required: true, input_html: { autocomplete: "address", class: "input-text js-input", id: "address" } %>
         <%= f.input :photo, label: "Foto", as: :file, input_html: { required: true } %>
      </div>
      </div>
      <div class="form-actions col-lg-12 d-flex">
         <%= f.button :submit, "Update", class: "submit-btn btn btn-warning" %>
      </div>
   <% end %>
   <h3>Cancel my account</h3>
   <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></div>
   <%= link_to "Back", :back %>
</section>




















<!--


<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
-->
