<section class="get-in-touch section_form">
   <h1 class="title">Resend unlock instructions</h1>
   <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: "contact-form row" }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :unlock_token %>
      <div class="form-field col-lg-12">
         <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email", class: "input-text js-input", id: "email" } %>
      </div>
      <div class="form-actions col-lg-12 d-flex">
         <%= f.button :submit, "Resend unlock instructions", class: "submit-btn btn btn-warning" %>
      </div>
   <% end %>
   <%= render "devise/shared/links" %>
</section>









<!--
<h2>Resend unlock instructions</h2>

<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :unlock_token %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Resend unlock instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
-->
