<%= render 'share/banner' %>
<div class="container">
  <section>
    <h2 class="mt-4">Algunos de nuestros productos</h2>
    <div class="card-container d-flex justify-content-center">
        <% @products.limit(6).each do |product| %>
        <div class="card-product">
          <%= render 'product_home', product: product %>
      </div>
      <% end %>
  </section>
</div>

<section>
  <div class="activites">
    <div class="d-flex" style="background-image: url(<%= asset_path 'pexels-photo-1404819.webp' %>)">
      <p>Todas las marcas populares para</p>
      <h3>
        <%= link_to "TUS MININOS", controller: "products", query: "gatos"%>
      </h3>
    </div>
    <div style="background-image: url(<%= asset_path 'dcbab12ee6f7751d8cf1f55da4bb7978.png' %>)">
      <p>La mejor comida para tus</p>
      <h3>
        <%= link_to "ROEDORES", controller: "products", query: "roedores"%>
      </h3>
    </div>
    <div style="background-image: url(<%= asset_path '2d2c95cd9dee23a253bd833d060813ec.png' %>)">
      <p>Haz feliz a tus</p>
      <h3>
        <%= link_to "PERROS", controller: "products", query: "perros"%>
      </h3>
    </div>
    <div style="background-image: url(<%= asset_path 'pata-removebg-preview.png' %>)">
    <h2><%= link_to "¡Compra ahora!", products_path, class:"text-white text-decoration-none" %></h2>
    </div>
    <div id="birds" style="background-image: url(<%= asset_path 'f0ad948d7cf48a2ae59c76b411ca3f37.png' %>)">
    <h3><%= link_to "Aves", controller: "products", query: "aves"%></h3></div>

  </div>
</section>
<section class="container">
  <div class="about">
    <div class="description">
      <h3>¿Quienes somos?</h3>
      <p>
        PetCity es plataforma que te permite comprar y vender productos que hagan feliz a tu familia animal.
        Consigue en su solo lugar todo lo que necesites a los mejores precios.
      </p>
    </div>
    <img style="width: 100%;" src="<%= asset_path '2d2c95cd9dee23a253bd833d060813ec.png' %>" alt="">
  </div>
</section>
