
<div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <%= cl_image_tag product.photo.key%>
    <div class="card-body">
      <h2 class="title card-title"><%= product.title %></h2>
      <p class="card-text"><%= product.price %>$</p>
      <%= link_to "Detalles", product_path(product), class: "btn btn-details mr-2 fas fa-link" %>
    </div>
  </div>
</div>




<!-- NO BORRAR, PASAR A LA PAGINA DE FACTURA -->



  <div class="container">
    <div class="invoice">
      <div class="invoice-header">
        <div class="invoice-logo">
          <h2><strong>Pet</strong><strong>City.</strong></h2>
        </div>
        <h2 class="invoice-title">Factura</h2>
        <div class="invoice-details">
          <p><strong>Fecha:</strong> 28 de febrero de 2024</p>
          <p><strong>Cliente:</strong> Cliente Ejemplo</p>
          <p><strong>Dirección:</strong> Dirección de ejemplo</p>
        </div>
      </div>
      <div class="invoice-items">
        <div class="invoice-item">
          <p><strong>Producto:</strong> <%= product.title %></p>
          <p><strong>Precio:</strong><%= product.price %></p>
        </div>
        <div class="invoice-item">
          <p><strong>Producto:</strong> Producto 2</p>
          <p><strong>Precio:</strong> $15.00</p>
        </div>
      </div>
      <div class="invoice-total">
        <p><strong>Total:</strong> $25.00</p>
      </div>
      <div class="thank-you">
        <p>¡Gracias por su compra!</p>
      </div>
    </div>
  </div>
