<section class="get-in-touch section_form" style="max-width: 1000px;">
   <h1 class="title"><i class="fas fa-shopping-bag"></i>Editar Producto</h1>
   <%= simple_form_for @product, html: { class: "contact-form row" } do |f| %>
      <div class="form-field col-lg-4">
         <%= f.input :title, label: "Nombre", input_html: { class: "input-text js-input", required: true } %>
      </div>
      <div class="form-field col-lg-4">
        <%= f.input :pet, label: "Especie", input_html: { class: "input-text js-input", required: true } %>
      </div>
      <div class="form-field col-lg-4">
        <%= f.input :brand, label: "Marca", input_html: { class: "input-text js-input", required: true } %>
      </div>
      <div class="form-field col-lg-4">
        <%= f.input :category, label: "Categoría", input_html: { class: "input-text js-input", required: true } %>
      </div>
      <div class="form-field col-lg-4">
         <%= f.input :price, label: "Precio", input_html: { class: "input-text js-input", required: true } %>
      </div>
      <div class="form-field col-lg-4">
         <%= f.input :stock, input_html: { class: "input-text js-input", required: true } %>
      </div>
      <div class="form-field col-lg-4" >
          <%= f.input :photo, label: "Foto", as: :file, input_html: { class: "input-text js-input", required: true } %>
          <p style="color: red; font-size:12px; margin-top: 0;">No rellene este campo si no desea modificar la fotografia.</p>
      </div>
      <div class="form-field col-lg-12">
         <%= f.input :description, label: "Dexcripción", input_html: { class: "input-text js-input", required: true } %>
      </div>
      <div class="form-field col-lg-12 d-flex justify-content-center">
         <%= f.button :submit, "Guardar", class: "submit-btn btn btn-primary" %>
      </div>
   <% end %>
</section>
