<section class="get-in-touch">
  <h1 class="title">Product Edit</h1>
  <%= simple_form_for @product, html: { class: "contact-form row" } do |f| %>
    <div class="form-field col-lg-12">
      <%= f.input :title, input_html: { class: "input-text js-input", required: true }, label: false %>
    </div>
    <div class="form-field col-lg-12">
      <%= f.input :description, input_html: { class: "input-text js-input", required: true }, label: false %>
    </div>
    <div class="form-field col-lg-12">
      <%= f.input :price, input_html: { class: "input-text js-input", required: true }, label: false %>
    </div>
    <div class="form-field col-lg-12">
      <%= f.input :stock, input_html: { class: "input-text js-input", required: true }, label: false %>
    </div>
    <div class="form-field col-lg-12 d-flex">
      <%= f.button :submit, "Submit list", class: "submit-btn btn btn-primary" %>
    </div>
  <% end %>
</section>









<h1>Products#edit</h1>
<p>Find me in app/views/products/edit.html.erb</p>

<%= simple_form_for @product do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :stock %>
  <%= f.submit "Submit list", class: "btn btn-primary" %>
<% end %>
