<section class="get-in-touch section_form" style="max-width: 1000px;">
   <h1 class="title"><i class="fas fa-shopping-bag"> Nuevo producto</i></h1>
   <%= simple_form_for @product, html: { class: "contact-form row" } do |f| %>
      <div class="form-field col-lg-4">
         <%= f.input :title, label: "Nombre del producto", input_html: { class: "input-text js-input", required: true } %>
      </div>
      <div class="form-field col-lg-4">
        <%= f.input :pet, label: "Especie", input_html: { class: "input-text js-input", required: true } %>
      </div>
      <div class="form-field col-lg-4">
        <%= f.input :brand, label: "Marca", input_html: { class: "input-text js-input", required: true } %>
      </div>
      <div class="form-field col-lg-4">
        <%= f.input :category, label: "Categoría", input_html: { class: "input-text js-input", required: true } %>
      </div>
      <div class="form-field col-lg-4">
         <%= f.input :price, label: "Precio", input_html: { class: "input-text js-input", required: true } %>
      </div>
      <div class="form-field col-lg-4">
         <%= f.input :stock, input_html: { class: "input-text js-input", required: true } %>
      </div>
      <div class="form-field col-lg-12">
          <%= f.input :photo, label: "Foto", as: :file, input_html: { id:"photo-product", class: "input-text js-input", required: true } %>
      </div>
      <div class="form-field col-lg-12">
         <%= f.input :description, label: "Descripción", input_html: { class: "input-text js-input", required: true } %>
      </div>
      <div class="form-field col-lg-12 d-flex">
         <%= f.button :submit, "Crear", class: "submit-btn btn btn-primary", id: "create_product" %>
      </div>
   <% end %>
</section>
<script>
const foto = document.querySelector("#photo-product");
const submit = document.querySelector("#create_product.submit-btn");
console.log(submit);
submit.addEventListener("click", (event) => {
  if (foto.files.length === 0) {
     event.preventDefault();
     alert("Debes ingresar una fotografia de tu producto");
     console.log(foto);
  }
});
</script>
