<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url('<%= url_for @product.photo %>')">
          <%= @product.title %>
      </div>
    <p>User: <%= @product.user.email %></p>

    <p>descripcion: <%= @product.description %></p>
      <p>stock: <%= @product.stock %></p>
      <p>price: <%= @product.price %></p>

    <% if current_user == @product.user %>
        <%= link_to "Editar Producto", edit_product_path %>
    <% end %>
