<!DOCTYPE html>
<html>
  <head>
    <title>PetCity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= cl_image_tag("https://res.cloudinary.com/dgz3yly6v/image/upload/v1709066349/development/b89cwil6ogexk439cwhmu74fnvaq.png") %>
    <%= yield %>
    <%= console %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
